<div class="ghess-table {{classes}}">
    {% for y in range(height) %}
        <div class="ghess-row" style="height:{{100.0/height}}%">
        {% for x in range(width) %}
            <div class="ghess-td" data-x="{{ x }}" data-y="{{ y }}" style="width:{{ 100.0/width}}%; background-image: url('/img/tiles/{{ (x + y)%6 }}.png');">
                <div class="panel"></div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    {% include 'client/templates/turn_overlay.html' %}
    {% include 'client/templates/action_overlay.html' %}
</div>
