<!-- player-stat contains visual info on the characters that comprise their team  -->
{% set num_chars = 3 %}
<div id="player-stat" class="h2 playView-info-text">
    {% if not spectator %}
    <div class="info-description"> My Team </div>
    {% endif %}
    {% for i in range(num_chars) %}
        <div class="stat-cell unknown"></div>
    {% endfor %}
</div>
<!-- enemy-stat contains info about enemy's team -->
<div id="enemy-stat" class="h2 playView-info-text">
    {% if not spectator %}
    <div class="info-description"> Enemy Team </div>
    {% endif %}
    {% for i in range(num_chars) %}
        <div class="stat-cell unknown"></div>
    {% endfor %}
</div>


