<div id="play-view" class="screen">
    <div class="message waiting-message">
        <img class="wiggle-always wiggly-sword" src="/client/img/characters/swordsman/attack/red.png" />
        <div class="h1">
            Waiting on opponent
        </div>
    </div>
    <div class="message win-message" style="display:none">
        <div class="h1">
            Victory!
        </div>
        <div class="message-button main-menu-button">Main Menu</div>
    </div>
    <div class="message lose-message" style="display:none">
        <img class="lose-sword" src="/client/img/characters/swordsman/dead/red.png" />
        <div class="h1">
            You Lost!
        </div>
        <div class="message-button main-menu-button">Main Menu</div>
    </div>
    <div class="message forfeit-confirmation" style="display:none">
        <div class="h1">
            Are you sure?
        </div>
        <div class="message-button main-menu-button">Yes</div>
        <div class="message-button hide-forfeit-confirmation">No</div>
    </div>

    {% set classes="play-view-table" %}
    {% set width = 7 %}
    {% set height = 7 %}
    {% include 'client/templates/table.html' %}

    <div id="stamina-title"> Energy </div>
    <div class="stamina-meter">
      <span style="width: 25%"></span>
    </div>

    <div id="info-pane" class="playView-info">
        {% include 'client/templates/char_info_panels.html' %}
        <div class="info-description">Selected Character</div>
        {% include 'client/templates/character_portrait.html' %}

        {% if not spectator %}
        <div class="round-button wiggle glossy2 action-button sleep-button"></div>
        {% endif %}
        
		<button type="button" id="forfeit-button" class="h2 basic-button redBtn">Forfeit! :(</button>

	</div>

</div>
