<div id="start-view" class="screen">
    <div id="game-title" style="display:none;"></div>
    <div class="sun"></div>
    <div class="hill">
        <div class="hill-inner-container">
            <div class="title-dead-character down-right"></div>
            <div class="title-dead-character down-left" style="animation-delay: 10s"></div>
        </div>
    </div>
    <div class="title-character walk-always"></div>
    <div id="button-container">
        <button type="button" id="player-button" class="h1 basic-button blueBtn">PLAY as player</button>
        <button type="button" id="spectator-button" class="h1 basic-button blueBtn">JOIN as spectator</button>
    </div>

</div>
