<div id="start-view" class="screen">
    <div id="game-title" style="display:none;"></div>
    <div class="h1 see-credits">Credits</div>
    <div id="credits" style="display:none;"></div>
    <div class="sun"></div>
    <div class="hill">
        <div class="hill-inner-container">
            <div class="title-dead-character down-right"></div>
            <div class="title-dead-character down-left" style="background-image:url('/client/img/characters/scout/dead/blue.png'); animation-delay: 17s;"></div>
            <div class="title-dead-character down-left" style="animation-delay: 7s"></div>
            <div class="title-dead-character down-right" style="animation-delay: 11s; background-image: url('/client/img/characters/swordsman/dead/blue.png')"></div>
        </div>
    </div>
    <div class="title-character walk-always"></div>
    <div id="button-container">
        <button type="button" id="player-button" class="h1 basic-button blueBtn">Join as Player</button>
        <button type="button" id="spectator-button" class="h1 basic-button blueBtn">Join as Spectator</button>
    </div>

</div>
