* {
    box-sizing: border-box;
}

/* UTILITY CSS CLASSES */

.transparent {
    opacity: .5;
}

@-webkit-keyframes wiggle {
    0% {-webkit-transform:rotate(15deg);}
    50% {-webkit-transform:rotate(-15deg);}
    100% {-webkit-transform:rotate(15deg);}
}

@-moz-keyframes wiggle {
    0% {-moz-transform:rotate(15deg);}
    50% {-moz-transform:rotate(-15deg);}
    100% {-moz-transform:rotate(15deg);}
}

@keyframes wiggle {
    0% {transform:rotate(15deg);}
    50% {transform:rotate(-15deg);}
    100% {transform:rotate(15deg);}
}

.wiggle:hover {
    -webkit-animation: wiggle 1.0s infinite;
    -moz-animation: wiggle 1.0s infinite;
    animation: wiggle 1.0s infinite;
}

@-webkit-keyframes spin {
    0% {-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);}
}

@-moz-keyframes spin {
    0% {-moz-transform:rotate(0deg);}
    100% {-moz-transform:rotate(360deg);}
}

@keyframes spin {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

.spin {
    -webkit-animation: spin 1.0s infinite linear;
    -moz-animation: spin 1.0s infinite linear;
    animation: spin 1.0s infinite linear;
}

.glow {
    z-index:3;
    box-shadow: inset 0px 0px 10px 2px #0ff;
}

.glossy, .glossy2 {
    position: relative;
    z-index: 1;
}

.glossy:hover, .glossy2:hover {
    box-shadow: inset 0px 0px 10px 2px #fff;
}

.glossy:before {
    content: "";
    width: 90%;
    height: 25%;

    display: block;
    position: absolute;
    left: 20%;

    /* Force pill shape for all reasonable sizes */
    -webkit-border-radius: 10000px;
    -moz-border-radius: 10000px;
    border-radius: 10000px;

    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(30%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 30%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 30%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 30%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 30%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.glossy2:before {
    content: "";
    width: 100%;
    height: 100%;

    display: block;
    position: absolute;

    /* Force pill shape for all reasonable sizes */
    -webkit-border-radius: 10000px;
    -moz-border-radius: 10000px;
    border-radius: 10000px;

    background: -moz-linear-gradient(top,  rgba(255,255,255,.7) 0%, rgba(255,255,255,0.1) 30%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.1)), color-stop(30%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,.7) 0%,rgba(255,255,255,0.1) 30%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,.7) 0%,rgba(255,255,255,0.1) 30%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,.7) 0%,rgba(255,255,255,0.1) 30%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,.7) 0%,rgba(255,255,255,0.1) 30%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

/* BASIC ELEMENTS */
.round-button {
    border-radius: 50%;

}
.blueBtn {
    -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
    background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
    background-color:#3d94f6;
    border:1px solid #337fed;
    text-shadow:0px 1px 0px #1570cd;
}

.redBtn {
    -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
    background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
    background-color:#f24537;
    border:1px solid #d02718;
    text-shadow:0px 1px 0px #810e05;
}

.basic-button {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;

    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: 'Sansita One';
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    margin: 10px;
    text-decoration:none;

}
.blueBtn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
    background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
    background-color:#1e62d0;
}

.redBtn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
    background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
    background-color:#c62d1f;
}

.basic-button:active {
    position:relative;
    top:1px;
}

.screen {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    padding: 30px;

    font-family: 'Sansita One';
    font-style: normal;
}

/* START VIEW */
.start-view {

}

#game-title {
    font-size: 64px;
    margin: auto;
    width: 50%;
    text-align: center;
}

#button-container {
    margin: 50px;
    text-align: center;
}

#player-button {

}

#spectator-button {

}

/* LOAD VIEW SELECT PANE */

#characters-list {
    width: 330px;
    float: left;
    background-color: grey;
}

.loading-view-table.ghess-table {
    width: 298px;
    height: 298px;
    width: 40%;
}

.character-roster {
    padding: 15px 100px 15px 15px;
}

#selected-characters {
    margin-top: 20px;
    float: left;
    background-color: #05acce;
    width: 110px;
    padding: 10px;
    text-align: center;
    color: white;
}

.selected-character-slot {
    margin: 15px 5px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: white;
    background-size: 100% 100%;
}

.roster-cell {
    padding: 10px;
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px 5px;
    background-color: blue;
    background-size: 100% 100%;
    text-align: center;
    vertical-align: bottom;
    line-height: 140px;
}

.roster-cell-hover {
    /*display: block;*/
    background-color: red;
    opacity: .8;
}

.clicked-cell {
    border: 5px solid white;
}

/* PLACEMENT VIEW */
#placement-view {
    position: relative;
}

.placement-square {
   border: 1px dashed yellow !important;
}

/* PLAY VIEW INFO PANE */

.playView-info {
    position: relative;
    width: 200px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

.h1 {
    font-size: 24px;
}

.h2 {
    font-size: 18px;
}

.playView-info-text {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
}

#player-id {
    border: none;
}

#character-stat {
    height: 140px;
}

/* PLAY VIEW TABLE */

.ghess-table {
    float: left;
    position: relative;
    background-color: transparent;
    width: 500px;
    height: 500px;
}

.ghess-row {
    float: left;
    width: 100%;
}

.ghess-td {
    float: left;
    height: 100%;
    border: 1px solid black;
    position: relative;
}

.ghess-td .panel{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .8;
    display: none;
}

.ghess-td:not(.visible):before{
    content: "";
    position: absolute;
    width: 100%;
    z-index: 2;
    height: 100%;
    background-color:black;
    opacity: .7;
    display: block;
}

sprite {
    width: 70px;
    height: 70px;
    position: absolute;
    background-size: 100%;
}

sprite.alive {
    z-index: 1;
}

sprite.projectile {
    z-index: 1;
}

.turn-arrow-container {
    position: absolute;
    z-index: 3;
}

.turn-arrow-relative-container{
    position: relative;
    width:100%;
    height:100%;
}

.turn-arrow {
    background-image: url('/img/turn_arrow.png');
    background-size: 100%;
    position: absolute;
    width:100%;
    height:100%;
}

.turn-arrow:hover {
    background-image: url('/img/turn_arrow_white.png');
    cursor: pointer;
}

.turn-arrow-up {
    top: -100%;
}

.turn-arrow-left {
    left: -100%;
    transform: rotate(270deg);
}

.turn-arrow-right {
    left: 100%;
    transform: rotate(90deg);
}

.turn-arrow-down {
    top: 100%;
    transform: rotate(180deg);
}

.character-portrait {
    position: relative;
    background-size: 100%;
    width: 100%;
    padding-bottom: 100%;
}

.action-overlay {
    position: absolute;
    z-index: 4;
}

.action-button-relative-container {
    position: relative;
}

.action-button {
    position: absolute;
    width: 40%;
    height: 40%;
    background-size: 100%;
    border: 1px solid black;
}

.attack-button {
    background-image: url('/img/attack.png');
    top: -25%;
    left: -10%;
}

.turn-button {
    background-image: url('/img/turn.png');
    top: -40%;
    left: 30%;
}

.move-button {
    background-image: url('/img/move.png');
    top: -25%;
    left: 70%;
}

.sleep-button {
    background-image: url('/img/sleep.png');
    top: 66%;
    left: 0%;
    width: 20%;
    height: 20%;
}

.attack-candidate .panel {
    display: block;
    background-color: rgb(215, 110, 110);
}

.attack-candidate-hover .panel {
    display: block;
    background-color: rgb(215, 110, 110);
    opacity: .6;
}

.move-candidate .panel {
    display: block;
    background-color: rgb(110, 110, 215);
}

.move-candidate-hover .panel {
    display: block;
    background-color: rgb(110, 110, 215);
    opacity: .6;
}

.visibility-hover .panel {
    display: block;
    background-color: rgb(202, 55, 240);
    opacity: .6;
}
