* {
    box-sizing: border-box;
}

/* UTILITY CSS CLASSES */

@-webkit-keyframes wiggle {
    0% {-webkit-transform:rotate(15deg);}
    50% {-webkit-transform:rotate(-15deg);}
    100% {-webkit-transform:rotate(15deg);}
}

@-moz-keyframes wiggle {
    0% {-moz-transform:rotate(15deg);}
    50% {-moz-transform:rotate(-15deg);}
    100% {-moz-transform:rotate(15deg);}
}

@keyframes wiggle {
    0% {transform:rotate(15deg);}
    50% {transform:rotate(-15deg);}
    100% {transform:rotate(15deg);}
}

.wiggle:hover {
    -webkit-animation: wiggle 1.0s infinite;
    -moz-animation: wiggle 1.0s infinite;
    animation: wiggle 1.0s infinite;
}

@-webkit-keyframes spin {
    0% {-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);}
}

@-moz-keyframes spin {
    0% {-moz-transform:rotate(0deg);}
    100% {-moz-transform:rotate(360deg);}
}

@keyframes spin {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

.spin {
    -webkit-animation: spin 1.0s infinite linear;
    -moz-animation: spin 1.0s infinite linear;
    animation: spin 1.0s infinite linear;
}

.glow {
    box-shadow: inset 0px 0px 10px 2px #0ff;
}

.glossy, .glossy2 {
    position: relative;
    z-index: 1;
}

.glossy:hover, .glossy2:hover {
    box-shadow: inset 0px 0px 10px 2px #fff;
}

.glossy:before {
    content: "";
    width: 90%;
    height: 25%;

    display: block;
    position: absolute;
    left: 20%;

    /* Force pill shape for all reasonable sizes */
    -webkit-border-radius: 10000px;
    -moz-border-radius: 10000px;
    border-radius: 10000px;

    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(30%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 30%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 30%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 30%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 30%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.glossy2:before {
    content: "";
    width: 100%;
    height: 100%;

    display: block;
    position: absolute;

    /* Force pill shape for all reasonable sizes */
    -webkit-border-radius: 10000px;
    -moz-border-radius: 10000px;
    border-radius: 10000px;

    background: -moz-linear-gradient(top,  rgba(255,255,255,.7) 0%, rgba(255,255,255,0.1) 30%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.1)), color-stop(30%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,.7) 0%,rgba(255,255,255,0.1) 30%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,.7) 0%,rgba(255,255,255,0.1) 30%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,.7) 0%,rgba(255,255,255,0.1) 30%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,.7) 0%,rgba(255,255,255,0.1) 30%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

/* BASIC ELEMENTS */
.round-button {
    border-radius: 50%;

}

.screen {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    padding: 30px;

    font-family: 'Sansita One';
    font-style: normal;
}

/* START VIEW */
.start-view {

}

#game-title {
    font-size: 64px;
    margin: auto;
    width: 50%;
    text-align: center;
}

#player-button {

}


/* PLAY VIEW INFO PANE */

.playView-info {
    position: relative;
    width: 200px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

.h1 {
    font-size: 24px;
}

.h2 {
    font-size: 18px;
}

.playView-info-text {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
}

#player-id {
    border: none;
}

#character-stat {
    height: 200px;
}

/* PLAY VIEW TABLE */
.ghess-table, .ghess-td {
    border-style: solid;
    border-color: black;
}

.ghess-table {
    border-width: 0 0 1px 1px;
    float: left;
    position: relative;
    background: #EAE171;
    width: 500px;
    height: 500px;
}

.ghess-row {
    float: left;
    width: 100%;
}

.ghess-td {
    float: left;
    height: 100%;
    border-width: 1px 1px 0 0;
}

sprite {
    width: 20px;
    height: 20px;
    position: absolute;
}

.turn-arrow-container {
    position: absolute;
}

.turn-arrow-relative-container{
    position: relative;
    width:100%;
    height:100%;
}

.turn-arrow {
    background-image: url('/img/turn_arrow.png');
    background-size: 100%;
    position: absolute;
    width:100%;
    height:100%;
}

.turn-arrow:hover {
    background-image: url('/img/turn_arrow_white.png');
    cursor: pointer;
}

.turn-arrow-up {
    top: -100%;
}

.turn-arrow-left {
    left: -100%;
    transform: rotate(270deg);
}

.turn-arrow-right {
    left: 100%;
    transform: rotate(90deg);
}

.turn-arrow-down {
    top: 100%;
    transform: rotate(180deg);
}

.character-portrait {
    position: relative;
    background-image: url('/img/test_portrait.png');
    background-size: 100%;
    width: 100%;
    padding-bottom: 100%;
}

.action-button {
    position: absolute;
    width: 20%;
    height: 20%;
    background-size: 100%;
    border: 1px solid black;
}

.attack-button {
    background-image: url('/img/attack.png');
    top: 0%;
    left: 0%;
}

.turn-button {
    background-image: url('/img/turn.png');
    top: 22%;
    left: 0%;
}

.move-button {
    background-image: url('/img/move.png');
    top: 44%;
    left: 0%;
}

.sleep-button {
    background-image: url('/img/sleep.png');
    top: 66%;
    left: 0%;
}
