body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* UTILITY CSS CLASSES */

.transparent {
    opacity: .5;
}

@-webkit-keyframes wiggle {
    0% {-webkit-transform:rotate(15deg);}
    50% {-webkit-transform:rotate(-15deg);}
    100% {-webkit-transform:rotate(15deg);}
}

@-moz-keyframes wiggle {
    0% {-moz-transform:rotate(15deg);}
    50% {-moz-transform:rotate(-15deg);}
    100% {-moz-transform:rotate(15deg);}
}

@keyframes wiggle {
    0% {transform:rotate(15deg);}
    50% {transform:rotate(-15deg);}
    100% {transform:rotate(15deg);}
}

@-webkit-keyframes walk {
    0% {-webkit-transform:rotate(5deg);}
    50% {-webkit-transform:rotate(-5deg);}
    100% {-webkit-transform:rotate(5deg);}
}

@-moz-keyframes walk {
    0% {-moz-transform:rotate(5deg);}
    50% {-moz-transform:rotate(-5deg);}
    100% {-moz-transform:rotate(5deg);}
}

@keyframes walk {
    0% {transform:rotate(5deg);}
    50% {transform:rotate(-5deg);}
    100% {transform:rotate(5deg);}
}

@keyframes downleft {
    from {top:-10px; left:48%; width: 50px; height: 50px;}
    to {top:400px; left:14%; width: 200px; height: 200px;}
}

@-webkit-keyframes downleft {
    from {top:-10px; left:48%; width: 50px; height: 50px;}
    to {top:400px; left:14%; width: 200px; height: 200px;}
}

@-moz-keyframes downleft {
    from {top:-10px; left:48%; width: 50px; height: 50px;}
    to {top:400px; left:14%; width: 200px; height: 200px;}
}

@keyframes downright {
    from {top:-10px; left:52%; width: 50px; height: 50px;}
    to {top:400px; left:86%; width: 200px; height: 200px;}
}

@-webkit-keyframes downright {
    from {top:-10px; left:52%; width: 50px; height: 50px;}
    to {top:400px; left:86%; width: 200px; height: 200px;}
}

@-moz-keyframes downright {
    from {top:-10px; left:52%; width: 50px; height: 50px;}
    to {top:400px; left:86%; width: 200px; height: 200px;}
}

.wiggle:not(.disabled, .not-turn):hover {
    -webkit-animation: wiggle 1.0s infinite;
    -moz-animation: wiggle 1.0s infinite;
    animation: wiggle 1.0s infinite;
}

.wiggle-always {
    -webkit-animation: wiggle 1.0s infinite;
    -moz-animation: wiggle 1.0s infinite;
    animation: wiggle 1.0s infinite;
}

.walk-always {
    -webkit-animation: walk 1.5s infinite;
    -moz-animation: walk 1.5s infinite;
    animation: walk 1.5s infinite;
}


@-webkit-keyframes spin {
    0% {-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);}
}

@-moz-keyframes spin {
    0% {-moz-transform:rotate(0deg);}
    100% {-moz-transform:rotate(360deg);}
}

@keyframes spin {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

.spin {
    -webkit-animation: spin 1.0s infinite linear;
    -moz-animation: spin 1.0s infinite linear;
    animation: spin 1.0s infinite linear;
}

.glow {
    z-index:3;
    box-shadow: inset 0px 0px 10px 2px #0ff;
}

.glossy, .glossy2 {
    position: relative;
    z-index: 1;
}

.glossy:hover, .glossy2:hover {
    box-shadow: inset 0px 0px 10px 2px #fff;
}

.glossy:before {
    content: "";
    width: 90%;
    height: 25%;

    display: block;
    position: absolute;
    left: 20%;

    /* Force pill shape for all reasonable sizes */
    -webkit-border-radius: 10000px;
    -moz-border-radius: 10000px;
    border-radius: 10000px;

    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(30%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 30%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 30%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 30%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 30%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.glossy2:before {
    content: "";
    width: 100%;
    height: 100%;

    display: block;
    position: absolute;

    /* Force pill shape for all reasonable sizes */
    -webkit-border-radius: 10000px;
    -moz-border-radius: 10000px;
    border-radius: 10000px;

    background: -moz-linear-gradient(top,  rgba(255,255,255,.7) 0%, rgba(255,255,255,0.1) 30%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.1)), color-stop(30%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,.7) 0%,rgba(255,255,255,0.1) 30%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,.7) 0%,rgba(255,255,255,0.1) 30%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,.7) 0%,rgba(255,255,255,0.1) 30%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,.7) 0%,rgba(255,255,255,0.1) 30%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

/* BASIC ELEMENTS */
#toggle-sound {
    position: absolute;
    z-index: 51;
    right: 14px;
    top: 18px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-size: 100%;
}

.sound-on {
    background-image: url('/client/img/sound-on.png');
}

.sound-off {
    background-image: url('/client/img/sound-off.png');
}

.message {
    position: absolute;
    z-index: 10;
    color: white;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .8;
    background-color: black;
}

.round-button {
    border-radius: 50%;

}
.blueBtn {
    -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
    background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
    background-color:#3d94f6;
    border:1px solid #337fed;
    text-shadow:0px 1px 0px #1570cd;
}

.redBtn {
    -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
    background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
    background-color:#f24537;
    border:1px solid #d02718;
    text-shadow:0px 1px 0px #810e05;
}

.basic-button {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;

    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    /*font-family: 'Sansita One';*/
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    /*font-family: 'Unica One', cursive;*/
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    margin: 24px;
    text-decoration:none;

}
.blueBtn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
    background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
    background-color:#1e62d0;
}

.redBtn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
    background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
    background-color:#c62d1f;
}

.basic-button:active {
    position:relative;
    top:1px;
}

.view-title {
    color: white;
    letter-spacing: 3px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.screen-container {
    overflow: hidden;
    position: relative;
    width: 1000px;
    height: 600px;
    border: 1px solid black;
}

.screen {
    width: 100%;
    height: 100%;
    padding: 40px 50px;
    background-color: #3a68ff;
    background: url('/client/img/background2.png');

    /*font-family: 'Sansita One';*/
    font-family: 'Bangers', cursive;

    font-style: normal;
}

/* START VIEW */
#start-view {
    background: linear-gradient(0deg, #C04848 42%, #480048 95%);
    background: -webkit-linear-gradient(90deg, #C04848 42%, #480048 95%);
    background: -ms-linear-gradient(0deg, #C04848 42%, #480048 95%);
    background: -moz-linear-gradient(0deg, #C04848 42%, #480048 95%);
    background: -o-linear-gradient(0deg, #C04848 42%, #480048 95%);
    padding-top: 32px;
}

#game-title {
    background: url('/client/img/Ghess-logo-600x400.png');
    z-index: 50;
    font-size: 64px;
    margin: 0 auto;
    background-size: 102%;
    width: 600px;
    height: 400px;
    position: absolute;
    top: -6%;
    left: 17%;
}

#button-container {
    position: absolute;
    left: 19%;
    top: 73%;
    margin: 25px 50px;
    text-align: center;
}

.sun {
    position: absolute;
    background-color: red;
    height: 120px;
    background: linear-gradient(0deg, #C84D47 40%, #FFFE4B 100%);
    background: -webkit-linear-gradient(90deg, #C84D47 40%, #FFFE4B 100%);
    background: -ms-linear-gradient(0deg, #C84D47 40%, #FFFE4B 100%);
    background: -moz-linear-gradient(0deg, #C84D47 40%, #FFFE4B 100%);
    background: -o-linear-gradient(0deg, #C84D47 40%, #FFFE4B 100%);
    width: 120px;
    top: 29%;
    border-radius: 100%;
    left: 44%;
}

.hill {
    position: absolute;
    background-color: green;
    background: linear-gradient(0deg, #000000 -1%, #1F3915 100%);
    background: -webkit-linear-gradient(90deg, #000000 -1%, #1F3915 100%);
    background: -ms-linear-gradient(0deg, #000000 -1%, #1F3915 100%);
    background: -o-linear-gradient(0deg, #000000 -1%, #1F3915 100%);
    background: -moz-linear-gradient(0deg, #000000 -1%, #1F3915 100%);
    height: 200%;
    width: 200%;
    left: -50%;
    top: 40%;
    border-radius: 50%;
}

.hill-inner-container {
    position: relative;
}

.title-dead-character {
    width: 0;
    height: 0;
    background-image: url('/client/img/characters/archer/dead/blue.png');
    background-size: 100%;
    position: absolute;
}

.down-left {
    animation: downleft 20.0s infinite;
    animation-timing-function: ease-in;
}

.down-right {
    animation: downright 20.0s infinite;
    animation-timing-function: ease-in;
}

.title-character {
    background-image: url('/client/img/characters/swordsman/up/red.png');
    width: 175px;
    height: 175px;
    background-size: 100%;
    left: 37%;
    top: 50%;
    position: absolute;
}

#ready-button {
    margin: 2px;
}

#player-button {

}

#spectator-button {

}

/* LOAD VIEW SELECT PANE */
#loading-view-title {
}

#selected-stat {
    float: left;
    background-color: #441F60;
    background-size: 100%;
    width: 340px;
    height: 220px;
    margin: 20px 0;
}

#characters-list {
    border-left: 3px solid blueviolet;
    width: 410px;
    max-height: 100%;
    overflow-y: auto;
    float: left;
    margin-left: 20px;
    padding: 15px;
}

#characters-list-heading {
    color: aliceblue;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.loading-view-table.ghess-table {
    width: 350px;
    height: 350px;
}

.character-roster {
    padding: 15px 100px 15px 15px;
}

#selected-characters {
    float: left;
    background-color: hsla(271,40%,57%,1);
    width: 110px;
    padding: 10px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
}

.selected-character-slot {
    margin: 15px 5px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #72409C;
    background-size: 100% 100%;
}

.roster-cell {
    padding: 10px;
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px 10px;
    background-color: #6A3196;
    background-size: 100% 100%;
    text-align: center;
    vertical-align: bottom;
    line-height: 140px;
    color: white;
    letter-spacing: 1.5px;
}

.roster-cell:hover {
    /*display: block;*/
    background-color: #A98BC1;
    /*opacity: .8;*/
}

.selected-char {
    border: 4px solid yellow;
}

/* PLACEMENT VIEW */
#placement-view {
    position: relative;
}

.placement-square {
   border: 1px dashed yellow !important;
}

.placement-view-table.ghess-table {
    width: 440px;
    height: 440px;
    margin: 0 140px;
}

/* PLAY VIEW INFO PANE */

#play-view {
    position: relative;
    padding: 34px 60px 10px 60px;
}

.play-view-table.ghess-table {
    margin-top: 35px;
}

#stamina-title {
    width: 200px;
    height: 24px;
    position: absolute;
    padding: 5px 26px;
    color: white;
    letter-spacing: 4px;
    background-color: #7049C5;
    border-radius: 25px;
}

.stamina-meter {
    left: 180px;
    width: 700px;
    height: 24px;  /* Can be anything */
    position: absolute;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 6px 14px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    z-index: 9;
}

.stamina-meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

#stamina-count {
    right: 58px;
    width: 80px;
    height: 24px;
    position: absolute;
    padding: 0px 30px;
    font-size: 28px;
    color: white;
    background-color: #7049C5;
    border-radius: 25px;
}

.turn-blue {
    background-color: #2A3FFE !important;
}

.turn-red {
    background-color: #F02C00 !important;
}

.turn-gray {
    background-color: #bababa !important;
}

.playView-info {
    color: white;
    background-color: rgba(97, 81, 123, 0.38);
    padding: 10px;
    position: relative;
    width: 284px;
    float: right;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 40px;
}

.h1 {
    font-size: 24px;
}

.h2 {
    font-size: 18px;
}

.h3 {
    font-size: 12px;
}

.playView-info-text {
    /*border: 1px solid black;*/
    margin-bottom: 15px;
    padding: 10px;
    background-color: #655582;
    border-radius: 5px;
}

#player-id {
    border: none;
}

#character-stat {
    height: 140px;
    /*background-image: url('/client/img/characters/archer/stat/blue-stat.png');*/
}

#player-stat, #enemy-stat{
    padding: 4px;
    display: inline-block;
}

.stat-cell {
    background-size: 100%;
    width: 60px;
    height: 60px;
    margin: 5px 8px;
    float: left;
}

.unknown-red {
    background-image: url('/client/img/characters/question/red.png');
}

.unknown-blue {
    background-image: url('/client/img/characters/question/blue.png');
}
/* PLAY VIEW TABLE */

.ghess-table {
    float: left;
    position: relative;
    background-color: transparent;
    width: 500px;
    height: 500px;
    border: 4px solid black;
}

.ghess-row {
    float: left;
    width: 100%;
}

.ghess-td {
    background-size: 100%;
    float: left;
    height: 100%;
    position: relative;
}

.ghess-td .panel{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .8;
    display: none;
}

.ghess-td:not(.visible):before{
    content: "";
    position: absolute;
    width: 100%;
    z-index: 2;
    height: 100%;
    background-color:black;
    opacity: .7;
    display: block;
}

sprite {
    width: 70px;
    height: 70px;
    position: absolute;
    background-size: 100%;
}

.ghess-table sprite {
    width: 14.29%;
    height: 14.29%;
}

sprite.alive {
    z-index: 1;
}

sprite.projectile {
    z-index: 1;
}

.turn-arrow-container {
    position: absolute;
    z-index: 3;
}

.turn-arrow-relative-container{
    position: relative;
    width:100%;
    height:100%;
}

.turn-arrow {
    background-image: url('/client/img/turn_arrow.png');
    background-size: 100%;
    position: absolute;
    width:100%;
    height:100%;
}

.turn-arrow:hover {
    background-image: url('/client/img/turn_arrow_white.png');
    cursor: pointer;
}

.turn-arrow-up {
    top: -100%;
}

.turn-arrow-left {
    left: -100%;
    transform: rotate(270deg);
}

.turn-arrow-right {
    left: 100%;
    transform: rotate(90deg);
}

.turn-arrow-down {
    top: 100%;
    transform: rotate(180deg);
}

.info-description {
    text-align: center;
    margin: 2px 0;
    letter-spacing: 4px;
    font-size: 14px;
}

.character-portrait {
    position: relative;
    background-size: 100%;
    /*width: 100%;*/
    height: 164px;
    padding-bottom: 155px;
    margin-bottom: 12px;
}

.action-overlay {
    position: absolute;
    z-index: 4;
}

.action-button-relative-container {
    position: relative;
}

.action-button {
    position: absolute;
    width: 54%;
    height: 54%;
    background-size: 100%;
}

.action-button.disabled, .action-button.not-turn {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    border: 1px solid black;
}

.attack-button {
    background-image: url('/client/img/attack2.png');
    top: -30%;
    left: -40%;
}

.turn-button {
    background-image: url('/client/img/turn2.png');
    top: -60%;
    left: 22%;
}

.move-button {
    background-image: url('/client/img/move2.png');
    top: -30%;
    left: 90%;
}

.sleep-button {
    background-image: url('/client/img/sleep.png');
    top: 90%;
    left: 0%;
    width: 45px;
    height: 45px;
}

#forfeit-button {
    margin: 12px;
    margin-left: 60px;
}

.attack-candidate .panel {
    display: block;
    background-color: rgb(215, 110, 110);
}

.attack-candidate-hover .panel {
    display: block;
    background-color: rgb(215, 110, 110);
    opacity: .6;
}

.move-candidate .panel {
    display: block;
    background-color: rgb(110, 110, 215);
}

.move-candidate-hover .panel {
    display: block;
    background-color: rgb(110, 110, 215);
    opacity: .6;
}

.visibility-hover .panel {
    display: block;
    background-color: rgb(202, 55, 240);
    opacity: .6;
}

.message .message-button {
    cursor: pointer;
    background: none;
    color: white;
    font-family: 'Bangers', cursive;
    position: absolute;
    padding: 5px;
    border: 1px solid white;
    top: 53%;
}

.message .main-menu-button {
    left: 36%;
}

.message .hide-message {
    left: 45%;
}

.message .message-button:hover {
    background-color: #2B2B2B
}

.waiting-message .h1, .win-message .h1, .lose-message .h1, .forfeit-confirmation .h1, .none-available-message .h1{
    position: absolute;
    top: 45%;
    left: 36%;
}

.waiting-message .wiggly-sword, .lose-message .lose-sword {
    position: absolute;
    width: 131px;
    left: 23%;
    top: 37%;
}
